* {
  background-color: rgb(47, 167, 232);
}

h3 {
  position: fixed;
  left: 300px;
}
.formulario {
  background-color: rgb(176, 211, 242);
  border: 9px solid black;
  width: 320px;
  top: 100px;
  position: fixed;
  left: 500px;
}

.soma {
  background-color: rgb(252, 247, 247);
  border-radius: 50px;
  height: 30px;
  cursor: pointer;
}

.reset {
  background-color: blue;
  border-radius: 50px;
  height: 30px;
  cursor: pointer;
}
